apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "address": "http://127.0.0.1:8200",
      "token": "your-token-here"
    }
